* {
    font-family: 'Ubuntu', 'sans-serif';
}

.page-header{
    margin: 7vh 0 0 0;
    font-weight: bold;
}

.general-availability{
    margin-top: 5vh !important;
}

.last-updated {
    margin: 20px 0 20px 0;
    text-align: right;
    color: #9e9e9e;
}

.service-info {
    position: relative;
    margin-left:auto;
    margin-right:0;
}

.child-service{
    padding-right: 10px;
}