<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:utext="${title}"></title>
    <meta http-equiv="refresh" th:content="${refreshInterval}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.min.css}" />
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
    <div class="container">
        <h4 class="page-header" th:text="${header}"></h4>
        <h5 class="card-panel general-availability"
            th:classappend="${generalAvailability.getColor()}" th:text="${generalAvailability.getMessage()}"></h5>
        <p th:text="'Last updated '+${lastUpdated}" class="last-updated"></p>
        <ul class="collapsible">
            <li th:each="service : ${services}">
                <div class="collapsible-header">
                    <i class="material-icons" th:text="${service.getKey().getStatus().getServiceIconName()}"></i>
                    <b th:text="${service.getKey().getName()}"></b>
                    <div class="service-info">
                        <i class="material-icons" th:style="'color:'+${service.getKey().getStatus().getColor()}+';'"
                           th:text="${service.getKey().getStatus().getStatusIconName()}"></i>
                    </div>
                </div>
                <div class="collapsible-body" th:if="${not #lists.isEmpty(service.getValue())}">
                    <ul class="collection">
                        <li class="collection-item" th:each="dependency: ${service.getValue()}">
                            <div style="display: flex; align-items: center;">
                                <snap th:text="${dependency.getName()}"></snap>
                                <div class="service-info" th:style="'color:'+${dependency.getStatus().getColor()}+';'"
                                     th:text="${dependency.getStatus().getStatusName()}"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="collapsible-body" th:if="${#lists.isEmpty(service.getValue())}">
                    <ul class="collection">
                        <li class="collection-item">
                            <div>
                                <snap>No child services</snap>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li th:if="${#maps.isEmpty(services)}">
                <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>
                    <b>Nothing to display yet</b>
                </div>
            </li>
        </ul>
    </div>
    <div th:if="${supportUrl != null}" class="fixed-action-btn">
        <a th:href="${supportUrl}" th:target="_blank" class="btn-floating btn red tooltipped" data-position="left" data-tooltip="Report a new issue &#9785;">
            <i class="large material-icons">add</i>
        </a>
    </div>
    <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
</body>
</html>